<section>
  <form action="/search" method="post">
    <label class="date-edit"><input name="date" type="date" value="2021/09/26" required/></label>
    <% courses.each do |course| %>
      <input type="checkbox" name="<%= course.lowercase_name %>" value="<%= course.id %>" id="<%= course.lowercase_name %>">
      <label for="<%= course.lowercase_name %>" class="course-chips" id="<%= course.lowercase_name %>-chip"><%= course.popular_name %></label>
    <% end %>
    <button type="submit">検索</button>
  </form>
  <div class="calendar-wrapper">
    <% (0..9).each do |i| %>
      <div class="calendar-row">
        <div class="user-wrapper">
          <a href="/mypage" class="user-image-container"><img src="<%= current_user.image_url %>" class="user-image"></a>
          <div class="user-data-container">
            <p class="user-name">どぎー</p>
            <p class="user-term">関東11期</p>
            <p class="user-courses">Android, WebS, WebD</p>
          </div>
        </div>
        <div class="schedule-wrapper">
          <% (9..24).each do |h| %>
            <div class="hour-box"></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>